@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0 auto;
    background: #383838;
}

#container {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.keys {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    max-width: 1200px;
    justify-content: space-evenly;
}

.key {
    display:flex;
    flex-direction: column;
    min-height: 85px;
    min-width: 85px;
    align-items: center;
    justify-content: center;
    color:white;
    background:#0A0B0B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.07s;
    border-radius: 5px;
}

.playing {
    transform: scale(1.1);
    border: 1px solid #ECC82B;
    box-shadow: 0 0 20px rgba(245, 245, 245, .4);

}

kbd {
    font-size: 36px;
}

span.sound {
    font-size: 13px;
    text-transform: uppercase;
    font-family:'Roboto Mono';
    font-weight: 400;
    color: #ECC82B;
}